*.bak
*.cache
*.egg
*.egg-info
*.orig
*.pyc
*.so
*.xml
*.zip
*build/**
*dist/**
*~
.*.swp
.coverage
.eggs
.idea/
.pythoscope/**
.tox
tmp
venv
uta_align/align/algorithms.c
uta_align/align/cigar_utils.c
